:root {
  --color-common-background: #F5F5F5;
  --agency-theme-color-secondary-alt: #5a9eb1;
}

.accordion-title {
  font-size: 18px;
}

.accordion-common-dark {
  background-color: #29333C !important;
  border-top: 1px solid #fff;
  color: #FFFFFF !important;

  
  .MuiSvgIcon-root {
    color: #FFFFFF;
  }
}
.accordion-common-light {
  background-color: var(--color-common-background) ;
  border-top: 1px solid var(--agency-theme-color-secondary-alt) ;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded{
  margin: 0!important;
}
.accordion-common-light:first-child , .accordion-common-dark:first-child{
  border: 0;
  // border-radius: 0 !important;
}