.tabs-pannel{
  padding: 0px!important;
}
.css-1aquho2-MuiTabs-indicator{
  height: 0px !important;
}
.tab-btn.MuiButtonBase-root{
  color: #4c4343;
  background-color: #cecece !important;
  border-radius: 10px 10px 0 0 !important;
  // box-shadow: 0px -1px 2px -1px var(--color-text-black);
  flex-basis: auto;
  text-transform: none;
  font-size: 15px;
  font-weight: 400;
  color: #4c4343!important;
}
.css-heg063-MuiTabs-flexContainer{
  gap: 1px;
}
.tab-btn.Mui-selected {
  background-color: #ffffff!important;
}
.dummy-component{
  background-color: #8d8d8f;
  height: 270px;
}
.test-class:first-child{
  background-color: aquamarine;
}