// #region .button-root

.button-root.MuiButtonBase-root {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 14px 29px 13px;
  text-transform: none;
  border: 1px solid #1976d2;
  // color: #fff;
}

.button-root.btn-small.MuiButtonBase-root {
  line-height: 19px;
  padding: 10px 20px 9px;
}

.button-root.MuiButtonBase-root.Mui-disabled {
  opacity: .60;
}

@media only screen and (max-width: 991px) {
  .button-root.MuiButtonBase-root {
    line-height: 19px;
    padding: 10px 20px 9px;
  }
}

// #endregion

// #region .btn-color-primary

.btn-color-primary.MuiButtonBase-root,
.btn-color-primary.MuiButtonBase-root.Mui-disabled,
.btn-color-primary.MuiButtonBase-root.MuiButton-outlined:hover,
.btn-color-primary.MuiButtonBase-root:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

.btn-color-primary.MuiButtonBase-root.MuiButton-outlined {
  background-color: #fff;
  color: var(--color-primary);
}

// #endregion

// #region .btn-color-secondary

.btn-color-secondary.MuiButtonBase-root,
.btn-color-secondary.MuiButtonBase-root.Mui-disabled,
.btn-color-secondary.MuiButtonBase-root.MuiButton-outlined:hover,
.btn-color-secondary.MuiButtonBase-root:hover {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: #fff;
}

.btn-color-secondary.MuiButtonBase-root.MuiButton-outlined {
  background-color: #fff;
  color: var(--color-secondary);
}

// #endregion

// #region .btn-color-grey

.btn-color-grey.MuiButtonBase-root,
.btn-color-grey.MuiButtonBase-root.Mui-disabled,
.btn-color-grey.MuiButtonBase-root.MuiButton-outlined:hover,
.btn-color-grey.MuiButtonBase-root:hover {
  border-color: var(--color-grey-2);
  background-color: var(--color-grey-2);
  color: #fff;
}

.btn-color-grey.MuiButtonBase-root.MuiButton-outlined {
  background-color: #fff;
  color: var(--color-grey-2);
}

// #endregion

// #region .btn-secondary

.btn-secondary.MuiButtonBase-root,
.btn-secondary.MuiButtonBase-root.Mui-disabled {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
  color: #fff;
}

.btn-secondary.MuiButtonBase-root.MuiButton-outlined {
  background-color: #fff;
  color: var(--color-secondary);
}

.btn-secondary.MuiButtonBase-root:hover,
.btn-secondary.MuiButtonBase-root.MuiButton-outlined:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

// #endRegion

// #region .btn-grey-1

.btn-grey-1.MuiButtonBase-root,
.btn-grey-1.MuiButtonBase-root.Mui-disabled {
  border-color: var(--color-grey-1);
  background-color: var(--color-grey-1);
  color: #fff;
}

.btn-grey-1.MuiButtonBase-root:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

// #endRegion

// #region .btn-grey-2

.btn-grey-2.MuiButtonBase-root,
.btn-grey-2.MuiButtonBase-root.Mui-disabled {
  border-color: var(--color-grey-2);
  background-color: var(--color-grey-2);
  color: #fff;
}

.btn-grey-2.MuiButtonBase-root:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

// #endRegion

// #region .btn-grey-3

.btn-grey-3.MuiButtonBase-root,
.btn-grey-3.MuiButtonBase-root.Mui-disabled {
  border-color: var(--color-grey-3);
  background-color: var(--color-grey-3);
  color: #fff;
}

.btn-grey-3.MuiButtonBase-root:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

// #endRegion

// #region .btn-error

.btn-error.MuiButtonBase-root,
.btn-error.MuiButtonBase-root.Mui-disabled {
  border-color: var(--color-error-light);
  background-color: var(--color-error-light);
  color: #fff;
}

.btn-error.MuiButtonBase-root:hover {
  border-color: var(--color-error-dark);
  background-color: var(--color-error-dark);
}

// #endRegion

// #region .btn-hover-*

.btn-hover-grey-2.MuiButtonBase-root:hover {
  border-color: var(--color-grey-2);
  background-color: var(--color-grey-2);
  color: #fff;
}

// #endRegion

// #region .btn-icon

.button-root.btn-icon {
  padding: 12px;
  min-width: 50px;
}

// #endRegion

// #region .btn-icon.btn-small

.button-root.btn-icon.btn-small {
  min-width: 40px;
  padding: 10px 9px 9px;
}

.button-root.btn-icon.btn-small svg {
  font-size: 19px;
}

// #endRegion

// #region .btn-custom

.button-root.btn-custom-1 .MuiSvgIcon-root {
  position: absolute;
  right: 15px;
  top: 12px;
}

// #endRegion