$agency-theme-color-secondary-alt :#5a9eb1;
$common-background: #F5F5F5;

:root{
  --color-text-black: #495057;
}

.claim-details-main {
  margin-top: 20px;

  .claim-details-buttons button {
    border: 2px solid black;
    padding: 5px 10px;
  }

  .claim-items {
    padding: 10px;
    background-color: #afd2db;
    margin-top: 10px;
    border: 3px solid #adab21;
    text-align: justify;
  }
}

.claim-details {
  padding: 15px 25px;
  border-radius: 10px;
  height: 100%;

  button {
    padding: 5px;
    border: 1px solid gray;
  }

  .details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .details-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details-horizontal-line {
    margin: 10px -25px;
    height: 2px;
  }

  .line-light {
    background-color: $agency-theme-color-secondary-alt;
  }

  .line-dark {
    background-color: #F0F0F0;
  }

  .notification-footer-data {
    border: 1px solid #E28484;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
    .infoIcon{
      width: 14px;
      color: #E28484;
      margin-right: 10px;
    }
  }

  .notification-dark {
    background-color: #F0F0F0;
    color: #29333C;
  }

  h5 {
    font-weight: 600;
    font-size: 18px;
  }

}

.claim-details-light {
  background-color: $common-background;

  h5 {
    color: $agency-theme-color-secondary-alt;
  }
}

.claim-details-dark {
  background-color: #29333C;
  color: #F0F0F0;

  h5 {
    color: #F0F0F0;
  }
}
.acoordions-main-div{

  color: #ffffff!important;

}
.accordion-details-div{
  text-align: left;
}

.details-and-pdf{
  padding-left: 12px;
}
