.MuiTextField-root {
  width: 100%;
}

.MuiTextField-root>label {
  line-height: 18.4px;
}

.MuiTextField-root .MuiInputBase-root {
  font-size: 14px;
  line-height: unset;
  padding: 0px 14px;
}

.MuiTextField-root .MuiInputBase-root .MuiInputBase-input {
  height: unset;
  padding: 14.5px 0px;
}

.MuiTextField-root .MuiInputBase-root>input[type=number]::-webkit-inner-spin-button,
.MuiTextField-root .MuiInputBase-root>input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.MuiTextField-root .MuiOutlinedInput-root .MuiInputAdornment-root .MuiSvgIcon-root {
  font-size: 20px;
}

.MuiTextField-root .MuiOutlinedInput-root fieldset,
.MuiTextField-root .MuiOutlinedInput-root.Mui-disabled fieldset,
.MuiTextField-root .MuiOutlinedInput-root:hover fieldset {
  border: 1px solid;
  border-color: var(--color-grey-2);
}

.MuiTextField-root label.Mui-focused {
  color: var(--color-secondary);
}

.MuiTextField-root .MuiOutlinedInput-root.Mui-focused fieldset {
  border: 1px solid var(--color-secondary);
}

.MuiTextField-root .MuiOutlinedInput-root.Mui-error:hover fieldset,
.MuiTextField-root .MuiOutlinedInput-root.Mui-error.Mui-focused fieldset {
  border-color: #d32f2f;
}

.MuiTextField-root label.Mui-error.Mui-focused {
  color: #d32f2f;
}

.MuiTextField-root .MuiOutlinedInput-root.Mui-disabled {
  background-color: #e7f1f4;
  border: none;
}

.MuiTextField-root>label.Mui-focused,
.MuiTextField-root>label.MuiFormLabel-filled {
  transform: translate(11px, -9px) scale(0.75);
  /* transform: translate(12px, -10px) scale(0.75); */
}

.MuiFormLabel-root+.MuiInputBase-root fieldset legend span {
  /* padding-right: 9px; */
  font-size: 11px;
}

.MuiFormLabel-root.Mui-focused.Mui-required+.MuiInputBase-root fieldset legend span,
.MuiFormLabel-root.MuiFormLabel-filled.Mui-required+.MuiInputBase-root fieldset legend span {
  padding-right: 8px;
}

/* #region checkbox design */

.MuiButtonBase-root.MuiCheckbox-root {
  color: var(--color-grey-2);
  padding: 13px;
}

.MuiButtonBase-root.MuiCheckbox-root.Mui-checked {
  color: var(--color-secondary);
}

.check-box-container {
  /* display: flex; */
  text-align: left;
}

/* #end region */

/* #region radio design */

.radio-container {
  text-align: left;
}

.MuiFormControlLabel-root .MuiRadio-root.Mui-checked {
  color: var(--color-secondary);
}

/* #end region */

/* #region switch desing */

.switch-container {
  text-align: left;
}

.MuiSwitch-root .MuiSwitch-switchBase.Mui-checked {
  color: var(--color-secondary);
}

/* #end region */

@media only screen and (max-width: 1024px) {
  /* region input */

  .MuiTextField-root>label:not(.Mui-focused):not(.MuiFormLabel-filled)
  /* .MuiTextField-root>label:not(.Mui-focused.MuiFormLabel-filled) */

  /* .MuiTextField-root>label:not(.MuiFormLabel-filled)  */
    {
    transform: translate(14px, 11px) scale(1);
  }

  .MuiTextField-root .MuiInputBase-root .MuiInputBase-input {
    padding: 9.5px 0px;
  }

  /* #end region */

  /* region checkbox */

  .MuiButtonBase-root.MuiCheckbox-root {
    padding: 8px;
  }

  /* #end region */
}